<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>add new pet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <Style>
        .form-control {
            margin-top: 20px;
        }
    </Style>
</head>
<body>
<div class="container">
    <form th:action="@{/pet/edit/{id}(id=${pet.id})}" th:object="${pet}" method="post">
        <input type="text" th:field="*{name}" class="form-control" placeholder="pet name"> pet name
        <input type="date" th:field="*{birth}" class="form-control"> birth date
        <input type="text" th:field="*{type}" class="form-control" placeholder="pet type"> type
        <input type="number" step="0.01" th:field="*{weight}" class="form-control" placeholder="weight (kg)"> weight
        <input type="number" step="0.01" th:field="*{height}" class="form-control" placeholder="pet height"> height
        <input type="text" th:field="*{owner}" class="form-control" placeholder="pet owner"> owner
        <input type="submit" class="form-control" value="Save">
    </form>
</div>
</body>
</html>